@{
    ViewBag.Title = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/img/cropped-favicon-copy-192x192.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Área de login", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container body-content">
            <br /><br />
            <div class="main">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Login</div>
                            <div class=" panel-body">
                                <form method="post" action="../Login/Login" id="frmLogin">
                                    <div class="form-group">
                                        <label for="login">Usuário</label>
                                        <input type="text" class="form-control" id="SY42_USUARIO" name="SY42_USUARIO" placeholder="Usuário" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <label for="senha">Senha</label>
                                        <input type="password" class="form-control" id="SY42_SENHA" name="SY42_SENHA" placeholder="Senha" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Login" class="btn btn-default" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Gustavo Alves</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

